<!DOCTYPE html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/frontpage.css') }}">

<html>
  <head>
    <meta charset="utf-8">
    <title>Forside</title>
  </head>
  <body>
<div class="velkommen">
<h1>Velkommen til info-skjerm oversikten</h1>
</div>

<p class="intro">
  Her kan man navigere mellom de aktive skjermene på møtesenteret.
</p>

<div class="romliste">
<ul class="buttons">

  <li><a href="https://guarded-stream-8124.herokuapp.com/" class="btn">Møteoversikt</a></li>
  <li><a href="https://guarded-stream-8124.herokuapp.com/amfiet" class="btn">Amfiet</a>
  <li><a href="https://guarded-stream-8124.herokuapp.com/jacobroll" class="btn">Jacob Roll</a>
  <li><a href="https://guarded-stream-8124.herokuapp.com/olavtryggvasson" class="btn">Olav Tryggvasson</a>
  <li><a href="https://guarded-stream-8124.herokuapp.com/cicignon" class="btn">Cicignon</a>
  <li><a href="https://guarded-stream-8124.herokuapp.com/tordenskjold" class="btn">Tordenskjold</a>
  <li><a href="https://guarded-stream-8124.herokuapp.com/thomasangell" class="btn">Thomas Angell</a>
  <li><a href="https://guarded-stream-8124.herokuapp.com/larstiller" class="btn">Lars Tiller</a>
  </ul>

  </div>

<p>
  Ved feilmelding kontakt support på 990 44 221
</p>

  </body>
</html>
